html {
    background-color: rgb(216, 0, 0);
}

body {
    margin: 0px;
    background-color: rgb(160, 96, 0);
}

.wrapper {
    margin: 0px;
}

header {
    background-image: url(/img/phone_RedVSArriAlexa.jpg);
    min-height: 155px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 3rem;
    grid-template-areas:
    "left topright"
    "right"
    "left bottom" */
}

.logo {
    background-image: url();
}

header > h1 {
    display: flex;
    align-self: center;
    color: aqua;
}

nav {
    background-color: rgba(0,0,0,0.1);
}

.navpage2 {
    background-color: black;
    /* should have background image later */
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.descriptiontext {
    flex-basis: content;
}

.home {
    
}

.features {

}

ul {

}

li {
    color: brown;
}

a {

}

main {
        
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container:nth-of-type(2n) {
    display: flex;
    flex-direction: row-reverse;
}

h2 {
    font-size: 1rem;
    color: rgb(255, 174, 0);
}

p {
    color: rgb(201, 176, 176);
    font-size: 0.7rem;
}

/* .bm {
    min-height: 150px;
    line-height: 1.6;
    background-size: cover;
    background-image: url(/img/phone_BMPCC6K.jpg);
    
}

.arri {
    min-height: 150px;
    line-height: 1.6;
    background-size: cover;
    background-image: url(/img/phone_arri-panavision-lens-cam.jpg);
}

.red {
    min-height: 278px;
    line-height: 1.6;
    background-size: cover;
    background-image: url(/img/phone_red-anton-bauer.jpg);
} */

footer {
    min-height: 299px;
    line-height: 1.6;
    background-image: url(/img/phone_many-cams.jpg);
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
}