html {
    background-color: rgb(216, 0, 0);
}

body {
    margin: 0px;
    background-color: rgb(160, 96, 0);
}

.wrapper {
    margin: 0px;
}

/* HEADER */

header {
    background-image: url(/img/phone_RedVSArriAlexa.jpg);
    min-height: 155px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 3rem;
    grid-template-areas:
    "left topright"
    "right"
    "left bottom" */
}

.logo {
    background-image: url(<div>Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/"         title="Flaticon">www.flaticon.com</a></div>);
}

.headerh1 {
    margin-top: 2.5rem;
    margin-left: 1.7rem;
    height: 15vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    /* align-self: center; */
    font-family: sans-serif;
    /* font-size: .8rem; */
    color: rgb(250, 216, 152);
    background-color: rgba(0,0,0,0.4);
    
}

h1 {
    height: 5vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1rem;
}

nav {
    background-color: rgba(0,0,0,0.4);
}

.ulpage1 {
    height: 20vh;
    margin-right: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
}

.ulpage2 {
    height: 8vh;
    margin-right: 6vw;
    background-color: black;
    /* should have background image later */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-decoration: none;
    
}

.home {
    
}

.features {

}

ul {
    color: aqua;
    text-decoration: none;
}

li {
    color: brown;
    text-decoration: none;
}

a {
    color: rgb(253, 195, 156);
    text-decoration: none;
}

/* MAIN BLOCK */

.descriptiontext {
    display: flex;
    flex-basis: content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

main {
        
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container:nth-of-type(2n) {
    display: flex;
    flex-direction: row-reverse;
}

h2 {
    font-size: 1rem;
    color: rgb(255, 174, 0);
}

p {
    color: rgb(201, 176, 176);
    font-size: 0.7rem;
}

/* .bm {
    min-height: 150px;
    line-height: 1.6;
    background-size: cover;
    background-image: url(/img/phone_BMPCC6K.jpg);
    
}

.arri {
    min-height: 150px;
    line-height: 1.6;
    background-size: cover;
    background-image: url(/img/phone_arri-panavision-lens-cam.jpg);
}

.red {
    min-height: 278px;
    line-height: 1.6;
    background-size: cover;
    background-image: url(/img/phone_red-anton-bauer.jpg);
} */

/* FOOTER */

footer {
    min-height: 299px;
    line-height: 1.6;
    background-image: url(/img/phone_many-cams.jpg);
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
}